html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
.squares div {
  width:  5vh;
  height: 5vh;
  margin-right: 1%;
  display: inline-block;
  background-color: #f44336;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

header {
  width: 100%;
  display: block;
  height: 150px;
  background-color: green;
  margin-bottom: 1%;
  padding-bottom: 1%;
  padding-left: 1.5%;
  text-align: center;
}

button {
  float: right;
  margin-right: 50%;
  text-align: center;
}
