* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/*.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

/*.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/*-----------------------------------------------------------------------------
BASE STYLE
-----------------------------------------------------------------------------*/


body {
  position: relative;
  line-height: 1.7em;
  z-index: 0;
}

body:after {
    content:"";
    position: relative;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 3px dotted #FF0000;
    /*overflow: hidden;*/
}

header {
    height: 25%;
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 2px solid white;
    text-align: center;
    font-size: 50px;
    color: red;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    background-color: black;
    z-index: 5;
}

.cardContainer {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#playerOneBoard {
    float: left;
    height: 100%;
    width: 45%;
    margin: 0 auto;
    display: relative;
    border: 2px solid green;
    font-size: 50px;
    background-color: gray;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#playerTwoBoard {
    float: right;
    height: 40%;
    width: 38%;
    margin: 0 auto;
    display: block;
    border: 2px solid purple;
    font-size: 50px;
    text-align: center;
    padding: 15px;
    background-color: yellow;
}

.cards {
    height: 85px;
    width: 65px;
    border: 2px solid white;
    background-color: pink;
    flex: 0 1 auto;
    align-self: auto;
    padding: 15px;
    z-index: 3;
    position: absolute;
}

p {
    height: 96px;
    width: 96px;
    border: 2px solid white;
    position: absolute:
    font-size: 38px;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
    background-color: red;
    flex: 0 1 auto;
    align-self: center;
    padding: 15px;
    overflow: hidden;
    /*z-index: 3;*/
    /*position: absolute;*/
}

/*#turnCard {
  height: 96px;
  width: 96px;
  border: 2px solid white;
  position: absolute:
  font-size: 38px;
  color: white;
  font-weight: bolder;
  text-align: center;
  display: inline-block;
  background-color: red;
  flex: 0 1 auto;
  align-self: center;
  padding: 15px;
  overflow: hidden;

}*/
