* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/*.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

/*.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/*-----------------------------------------------------------------------------
BASE STYLE
-----------------------------------------------------------------------------*/


body {
  position: relative;
  /*line-height: 1.7em;*/
  z-index: 0;
}

header {
    height: 25%;
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 2px solid white;
    text-align: center;
    font-size: 50px;
    color: red;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    background-color: black;
    z-index: 5;
}

#playerOneBoard {
    float: left;
    height: 375px;
    width: 375px;
    margin: 0 auto;
    display: flex;
    border: 2px solid green;
    font-size: 50px;
    background-color: gray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
}

#playerTwoBoard {
    float: right;
    height: 375px;
    width: 375px;
    margin: 0 auto;
    display: absolute;
    border: 2px solid purple;
    font-size: 50px;
    text-align: center;
    /*padding: 15px;*/
    background-color: yellow;
}

p {
    height: 96px;
    width: 96px;
    border: 2px solid white;
    position: absolute:
    font-size: 38px;
    text-align: center;
    display: inline-block;
    background-color: pink;
    flex: 0 1 auto;
    align-self: center;
    padding: 15px;
    overflow: hidden;
    /*z-index: 3;*/
    /*position: absolute;*/
}

#cardBack {

}










/*.cards*/
/*body:after {
    content:"";
    position: relative;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 3px dotted #FF0000;
    /*overflow: hidden;*/
/*}*/
